* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */

a {
    text-decoration: none;
}

.global {
    margin: 0 auto;
}

/* ########################################### */
/* ########################################### */
/* ########################################### */
/* ########################################### */


@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.topo-contato{
    width: 100%;
    /* height: 50px; */
    background-color: #264653;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    padding: 2px;
}

.topo-contato p{
    padding:10px;
    font-family: 'Itim', cursive;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: end;
}

.topo-contato-redes{
    float: right;
}

.topo-contato i{
    font-size:20px;
    color: white;
    padding:5px;
    
}

.menu-total{
    display: flex;
    justify-content:space-around;
    
}

.logo{
    padding:30px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    padding:2px;
}

.menu ul li a{
    display: flex;
    padding: 10px;
    font-family:unset;
    font-family: 'Itim', cursive;
    font-size: 18px;
    color: white;
    background-color:#264653;
}


.rodape{
    width:100%;
    height: 125px;
    background-color:#264653;
    
    justify-content:center;
    align-items:center;
}

.rodape i{
    color: #E76F51;
}

.rodape-contato{
    text-align: center;
    padding: 10px; 
}

.rodape-contato p{
    color: white;
    font-size:18px;
    padding:2px;
}
.rodape-contato i{
    
    font-size:20px;
}

.rodape-redes{
    display: flex;
    justify-content:center;
    flex-wrap: center;
    color: white;
}
.rodape-redes i{
   
    font-size:40px;
    padding: 3px;
}

.conteudo-banner{
    width:100%;
  
}

.conteudo-banner img{
    width: 100%;
}

.conteudo-inicial{
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-grande{
    width: 550px;
    height:243px;
    background-color: #F4A261;
    padding: 30px;
    display: flex;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    justify-content: center;
    border-radius: 20px;
}

.card-grande h2{
    color: white;
    font-size: 20px;
    
    
}
.card-grande p { 
    font-size: 20px;
    color: whitesmoke;
}

.card-imagem{
    width:550px;
    border-radius: 20px;
}

.card-pequeno{
    width: 300px;
    height: 300px;
    background-color: #2A9D8F;
    padding: 10px;
    text-align: justify;
    border-radius: 20px;
}

.card-pequeno2{
    width:300px;
    height: 300px;
    background-color: #E9C46A;
    padding: 10px;
    text-align: justify;
    border-radius: 20px;
}

.card-pequeno3{
    width:300px;
    height: 300px;
    background-color: #E76F51;
    padding: 10px;
    text-align: justify;
    border-radius: 20px;
}
p{
    color: white;
    font-size: 20px;
}
h2{
    color: white;
    font-size: 20px;
    text-align: center;
}

.conteudo-secundario{
    width: 1200px;
    height: 500px;
    background-color: #2A9D8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.conteudo-secundario-total{
    background-color: #2A9D8F;
}

.conteudo-secundario img{
    padding: 10px;
}

.conteudo-terciario-total{
    background-color: #E9C46A;
    height:500px;
    display: flex;
    align-items: center;
}

.conteudo-terciario-contato{
    width: 800px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.conteudo-terciario-contato h1{
    padding: 10px;
    color: white;
    font-size:25px;
}

.conteudo-terciario-contato input{
    background-color: #fde3a0;
    border: unset;
    color: black;
    font-size:25px;
    padding: 10px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
}

.inputMensagem{
    /* float: right; */
    height:200px;
}

.conteudo-terciario-contato .conteudo-terciario-button{
    margin: 0px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1258px;
    padding: 50px 0;
}

.conteudo-terciario-button button{
        width:100px;
        height:40px;
        border: none;
        background-color: #ffd773;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

input[type="submit"] {
    width: 760px;
    justify-content: center;
}

img {
    border-radius: 20px;
}







@media only screen and (max-width: 1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1199px) {

    .conteudo-secundario{
        flex-wrap: wrap;
        height:auto;
        justify-content: center;
    }

    .imagem-secundaria{
        flex-wrap: wrap;
    }

    .conteudo-inicial{
        flex-wrap: wrap;
        padding: 10px;
    }

    .card-imagem{
        margin-top: 20px;
    }

    .card-grande{
        margin: 20px auto;
        padding: 30px;
        height: auto;
    }

    .card-imagem{
        margin: 0 auto;
        padding-top: 30px;
    }

    .card-pequeno{
        /* display: flex; */
        width: 100%;
        /* margin: 20px auto; */
        height: auto;
        padding: 30px;
    }

    .card-pequeno2{
        /* display: flex; */
        width: 100%;
        margin: 20px auto;
        height: auto;
        padding: 30px;
    }

    .card-pequeno3{
        /* display: flex; */
        width: 100%;
        /* margin: 0 auto; */
        height: auto;
        padding: 30px;
    }

}

@media only screen and (max-width: 900px) {
   
        .topo-contato{
            flex-wrap: wrap;
        }

        .conteudo-inicial{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 80%;
        }

        .card-grande{
            margin: 20px auto;
            padding: 30px;
            height: auto;
        }

        .card-imagem{
            margin: 0 auto;
            padding-top: 30px;
        }

        .card-pequeno{
            /* display: flex; */
            width: 100%;
            margin: 20px auto;
            height: auto;
            padding: 30px;
        }

        .card-pequeno2{
            /* display: flex; */
            width: 100%;
            margin: 20px auto;
            height: auto;
            padding: 30px;
        }

        .card-pequeno3{
            /* display: flex; */
            width: 100%;
            /* margin: 0 auto; */
            height: auto;
            padding: 30px;
        }

        .conteudo-secundario{
            height:auto;
            justify-content: center;
            /* margin: 30px 0; */
        }

        .conteudo-terciario-total{
            height:auto;
        }

        .conteudo-terciario-contato h1{
            font-size: 18px;
        }

        .conteudo-terciario-contato input{
            width: 140px;
            height: auto;
            font-size: initial;
        }

        .conteudo-terciario-contato input::placeholder{
            font-size: 15px;
        }

        .conteudo-terciario-button input{
            width: 430px;
        }

        input#mensagem {
            padding: 80px 10px;
}
    
}



@media only screen and (max-width: 800px) {

    .menu-total{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media only screen and (max-width: 500px) {

    .menu ul{
        flex-wrap: wrap;
    }

    .menu-total{
        flex-wrap: wrap;
    }

    .topo-total , .topo-contato{
        width:100%;
    }



}
    





