* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

a {
    text-decoration: none;
}

.global {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 20px 0px;
    text-align: center;
    padding: 0px 20px;
}

.slogan {
    font: 80px 'calibri';
    color: #ff8100;
    margin: 20px 0px;
    text-align: center;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    width: 800px;
}



.conteudo .box .dados .item {
    font: 18px 'calibri';
    color: #333;
    display: flex;
    align-items: center;
    margin: 30px 0px;
    flex-wrap: wrap;
}

.conteudo .box .dados .item a {
    /* color: #f47f34; */
    font: inherit;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    transition: .5s;
}

.conteudo .box .dados .item a:hover {
    color: #0082c7;
}

.conteudo .box .dados .item i {
    font-size: inherit;
    color: #ff8100;
    margin: 0px 10px;
}

.conteudo .box input {
    width: 100%;
    font: 18px 'calibri';
    padding: 10px 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ff8100;
    /* color: black; */
    /* background: none; */
}

.conteudo .box textarea {
    width: 100%;
    font: 18px 'calibri';
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    resize: none;
    min-height: 100px;
    background: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ff8100;
}

.conteudo .box input.submit {
    background: #0082c7;
    color: #fff;
    border-color: #0082c7;
    transition: .5s;
    cursor: pointer;
}

.conteudo .box input.submit:hover {
    background: #0082c7;
    border-color: #0082c7;
}

h1 {
    font-size: 60px;
    color: #ff8100;
    /* font-family: Calibri; */
}

h2 {
    font-size: 20px;
    /* font-family: Calibri; */
}

.slogan p {
    font-size: 28px;
    /* color: #4a96ff; */
    padding-top: 20px;
}

i.fab.fa-whatsapp {
    color: green !important;
}

.total {
    background-color: #efefef;
    padding: 30px;
    border-radius: 10px;
    width: 890px;
    border: 1px solid #ffffff;
}

body {
    background-color: #00000096;
}

input[type="submit"] {
    background-color: #ff8100;
    border-radius: 7px;
}











@media only screen and (max-width: 800px) {
    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    .global {
        height: auto;
    }
}
@media only screen and (max-width: 500px) {
 .conteudo .box .dados .item {

    justify-content: center;

    
}
}