* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */


.topo-contato-total {
    width: 100%;
    /* height: 40px; */
    background-color: #285899;
    display: flex;
    /* align-items: center; */
    padding: 13px 0px;
}

.topo-contato {
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}



.topo-contato p{
    color: white;
    font-size:15px;
    font-family: 'Lato', sans-serif;
}



.topo-contato i{
    color: white;
    font-size:15px;
    font-family: 'Lato', sans-serif;
}

.conteudo-contato {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.topo {
    width: 1200px;
    /* height:140px; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 20px;
    font-size:15px;
    font-family: 'Lato', sans-serif;
    /* width: 100%; */
}

.rodape-total{
    width: 100%;
    /* height: 350px; */
    background: #285899;
    /* display: flex; */
    /* align-content: center; */
}

.rodape{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 50px 0;
}

.rodape-logo {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.rodape-logo p {
    color: white;
    font-family: lato;
    font-size: 17px;
}

.rodape-contato{
    width: 100%;
    background-color: #285899;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
   
}

.rodape-contato-conteudo p{
    color: white;
    font-size: 15px;
    font-family: Lato;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.rodape-contato-conteudo i{
    color: white;
    font-size: 25px;
    padding: 10px;
}

.rodape-contato-conteudo {
    display: flex;
    align-items: center;
}
.rodape-ProjetoWeb {
    margin: 0 auto;
    padding: 20px 0;
}

.box-banner {
    background-image: url(http://oprojetoweb.com.br/provas/mateus/projeto4/template/pw-images/banner-Lago.jpg);
    /* height:500px; */
}

.texto-banner {
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
}

.texto-banner h2 {
    color: white;
    padding: 60px;
    font-size: 50px;
    font-family: Lato;
    font-weight: lighter;
    letter-spacing: 10px;
}

.texto-banner span {
    color: white;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
}

.box-01-total {
    width: 100%;
    /* height: 300px; */
    background-color: #285899;
}

.box-01 {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
    justify-content: center;
    /* background-color: crimson; */
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
}

.box-01-conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.box-01-conteudo h2 {
    color: white;
    margin: 0 auto;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
}

.box-01-conteudo h3 {
    font-size: 20px;
    font-style: italic;
    font-family: Lato;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.box-01-conteudo p {
    color: white;
    font-family: Lato;
    font-size: 16px;
}
.box-02-total {
    width: 100%;
    /* height: 1270px; */
}

.box-02 {
    padding: 60px 0;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* display: flex; */
    flex-wrap: wrap;
}

.box-02-titulo h2 {
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    color: #265899;
    width: 1200px;
}

.box-02-linha {
    padding: 10px;
}

.box-02-linha hr {
    width: 99px;
    height: 5px;
    background-color: #25AAEA;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
}

.box-02-subtitulo p {
    font-family: Lato;
    font-size: 17px;
    color: #666666;
    /* padding: 30px 0px; */
    padding-top: 30px;
}

.box-02-imagens {
    display: flex;
}

.box-02-imagens h2 {
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    color: #265899;
}

.box-imagem-produto {
    padding: 30px 10px;
    text-align: left;
}

h2.subtitulo {
    color: #25AAEA;
}

.box-banner-dois{
    width:100%;
    background-image: url(http://oprojetoweb.com.br/provas/mateus/projeto4/template/pw-images/banner-Azul.png);
}

.banner-dois-conteudo {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* height: 600px; */
}
.banner-dois-conteudo h2 {
    font-family: Lato;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.banner-conteudo-titulo {
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.imagens-box-banner {
    display: flex;
    /* flex-wrap: wrap; */
}

.box-03 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.titulo-03 h2 {
    font-family: Lato;
    font-weight: bold;
    font-size: 35px;
    color: #265899;
}

.conteudo-03 {
    padding: 60px;
}


.texto-03 {
    padding-top: 20px;
}

.texto-03 h3 {
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #25AAEA;
}

.texto-03 p {
    padding-top: 10px;
    font-family: Lato;
    font-size: 15px;
    color: #666666;
}







@media only screen and (max-width: 900px) {


    *{
        /* width:100%; */
        text-align: center;
        /* padding: 0px; */
    }
    
}
@media only screen and (max-width: 1220px) {


    .topo-contato{
        width:100%;
        flex-wrap: wrap;
    }

    .topo{
        width:100%;
        flex-wrap:wrap;
        justify-content: center;
        text-align: center;
    }

    ul{
        width:100%;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    li{
        width:100%
    }

    .conteudo-contato{
        width:100%;
        justify-content:center;
    }


    .texto-banner{
        height: auto;
    }

    .box-01{
       width:100%;
        height:auto;
    }

    .box-02{
        width:100%;
    }

    .box-02-titulo h2 {
        width:100%;
    }


    .box-02-imagens{
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-dois-conteudo {
        width:100%;
    }

    .imagens-box-banner {
        flex-wrap:wrap;
        justify-content:center;
    }

    .box-imagem-produto {
    text-align:center;
    }

    .logo{
        width:100%;
        
    }
    .box-03 {
      justify-content:center;
      flex-wrap:wrap;
      width: 100%;
      /* padding: 20px 0; */
    }
    .rodape{
    width: 300px;
    flex-wrap:wrap;
    }

    .rodape-contato-conteudo {
        /* margin: 0 auto; */
        width:100%;
        padding: 20px;
    }


    .rodape-contato{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        /* padding: 0px; */
        /* text-align: center; */
        justify-content: center;
        /* padding: 60px; */
    }

    .rodape-contato-conteudo p{
        text-align:initial;
    }



}