div:hover > .btn {
    display: block;
    opacity: 1;
    transform: rotate(360);
    transition: all 1s;
}

.btn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
    opacity: 0.6;
    transition: all 1s;
}

.btn.absolute {
    position: absolute;
}

.btn > div {
    width: 100px;
    display: inline-block;
}

.btn .remove::before {
    font-weight: 900;
    content: "\f05e";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .remove::after {
    content: "";
    font-family: calibri;
    font-size: 14px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::before {
    font-weight: 900;
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::after {
    content: "RETORNAR";
    font-family: calibri;
    font-size: 16px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn.white *::before,
.btn.white *::after {
    color: #fff !important;
}

.logo-pw div p:first-child a {
    color: #fff;
    font: 12px "Helvetica";
    margin-top: -8px;
    display: block;
}

.logo-pw div {}

.logo-pw div a span {
    color: transparent;
}

.logo-pw-total {
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
}

.item.whats {
    background: #2ba531;
    border-radius: 50%;
    padding: 10px 0px !important;
    font-weight: bold;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.topo-chat .whats i {
    font-size: 45px;
    color: #fff;
}

.item.online {
    background: #00b29c;
    border-radius: 30px;
    padding: 10px 0px !important;
    margin-top: 10px;
    font-weight: bold;
}

.item.whats:hover {
    background: #239529;
    cursor: pointer;
}

.item.online:hover {
    background: #048676;
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

.item-logo-pw p:nth-child(2) a {}

* {
    /* color: #333333; */
    margin: 0;
    padding: 0px;
    border-radius: 1px;
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

a {
    text-decoration: none;
}

.global {
    margin: 0 auto;
}

.conteudo-pages {min-height: 380px;}

.texto-pages {
    font: 15px/25px "Calibri";
    color: #000;
    text-align: justify;
}
.mvv {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.mvv .item {
    width: 350px;
    text-align: center;
}

.mvv .icone {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.mvv .icone i {
    font-size: 50px;
    color: #f47f34;
}

.mvv h3 {
    font-family: 'Myriad Pro';
    font-size: 35px;
    color: #fff;
}

.mvv p {
    font-family: 'Calibri';
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    line-height: 25px;
}
.texto-pages h1 {
    font: 25px "Calibri";
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
}

.texto-pages h2 {
    font: 20px "Calibri";
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000;
}

.menu-resp {
    display: none;
}

.swiper-container {
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px -1px #b5b5b5;
    transition: all 0.5s;
}

.contato {}

.contato input {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
}

.contato textarea {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
    resize: none;
    height: 200px;
}

.contato .submit {
    cursor: pointer;
    background: #016086;
    color: #fff;
}

.linha-total {
    background: #003366;
}

.linha-total .linha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin: 0 auto;
}

.linha .item {
    color: #fff;
    font: 16px "calibri";
    padding: 10px 0px;
}

.linha .item * {
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
}

.topo-total {
}

.topo {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btnTopo {
    text-align: center;
    margin: 0 0 30px;
}

.btnTopo a {
    background: #ed7b25;
    width: 270px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    /* box-shadow: 3px 3px 0px 0px #ed7b25; */
    text-transform: uppercase;
    border-radius: 3px;
    font-family: Calibri;
    transition: 0.9s;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    /* padding: 0px 0px; */
    padding: 0px;
}

.menu li a {
    font-family: 'calibri';
    font-size: 16px!important;
    list-style: none;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
    color: #333333;
    transition: 0.5s;
    /* margin: 5px; */
}

.menu ul li:last-child a {
    /* background: #ed7b25!important; */
    /* padding: 10px!important; */
    /* color: white!important; */
    /* border-radius: 3px!important; */
    /* margin-left: 15px; */
    /* box-shadow: 0px 0px 10px 0px #242c55; */
    /* font-size: 17px !important; */
}

.menu li a:hover {
    background: #003366;
    color: #fff;
    border-radius: 20px;
    transition: 0.9s;
}


.menu li .ativo::before {
    font-family: "fontAwesome";
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    color: #eee;
    font-size: 27px;
}

.rodape-total {
    background: #003366;
}

.rodape {
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
}

.rodape .item {
    color: #fff;
    font: 17px "calibri";
    padding: 10px 0px;
    width: 270px;
    /* text-align: center; */
    display: flex;
    align-items: center;
}

.rodape .item i {
    color: #fff;
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 0px 10px;
    width: 30px;
}

.logo-pw {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.rodape.contatos {
    display: flex;
    align-items: center;
}

.rodape.contatos p {
    border-right: 2px solid #fff;
    height: 80px;
    display: flex;
    align-items: center;
}

/* Index */
.item-rodape-total {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 20px;
}

.rodape p strong {
    color: #fff;
    font: 20px "calibri";
    font-weight: bold;
    padding: 10px;
}

.rodape img {
    width: 269px;
}

.social i {
    padding: 10px;
    font-size: 25px;
    color: #fff;
}

.topo-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.topo-chat .item.online {
    margin: 0px 10px;
}

.topo-chat .whats {
    padding: 15px!important;
}

.topo-chat .online {
    padding: 10px 10px !important;
}

.box-01 {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.5s;
}

.box-01:hover {}

.box-01 > div {
    margin: 40px 0px;
}

.box-01 .conteudo {
    width: 580px;
}

.box-01 .conteudo .titulo {
    font: 40px 'calibri';
    color: #003366;
}

.box-01 .conteudo .titulo::first-line {
    color: #003366;
}

.box-01 .conteudo .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-01 .conteudo .linha .barra {
    width: 80px;
    transition: all linear 0.8s 0.55s;
    height: 100%;
    background: #ff9500;
    position: relative;
}

.box-01-total:hover .conteudo .linha .barra {
    width: 100%;
    transition: all linear 0.5s;
}

.box-01 .conteudo .texto {
    font: 20px/25px 'calibri';
    text-shadow: 0px 0px 1px #eee;
    color: #333;
    margin: 20px 0px;
    text-align: justify;
}

.box-01 .conteudo .entrar {
    padding: 18px 47px;
    background: #ff9500;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.box-01 .conteudo .entrar:hover{
    /* transform: scale(1.1); */
    /* transition: all 0.5s; */
    background: none;
    color: #ff9500;
    border: 1px solid #ff9500;
}

.box-01 .img {
    width: 450px;
    height: 370px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px #fff inset;
    display: flex;
    position: relative;
}

.box-01 .img .info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    background: rgb(255 149 0 / 39%);
    font: 23px 'calibri';
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 33px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: all linear 0.5s;
    transform: translateX(-100%);
}

.box-01 .img .info i {
    color: #fff;
    font-size: 100px;
    display: block;
    text-align: center;
}

.box-01:hover .img .info {
    opacity: 1;
    transition: all linear 0.5s 0.48s;
    transform: translateX(0%);
}

.box-01 .img img {
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}

.box-02-total {
    background: #003366;
}

.box-02 {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-02 .item {
    margin: 20px 0px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid rgba(251, 251, 251, 0.13);
    padding: 15px 10px;
    text-align: center;
    border-radius: 15px;
    min-height: 248px;
}

.box-02 .item .img img {
    filter: invert(1);
}

.box-02 .item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.box-02 .item .img {
    width: 100%;
    height: 157px;
    overflow: hidden;
}

.box-02 .item .titulo {
    font: 23px 'calibri';
    color: #fff;
    /* margin: 40px 0px; */
    /* min-height: 71px; */
}

.box-02 .item .conteudo {
    font: 18px/30px 'calibri';
    color: #fff;
    margin: 40px 0px;
}

.box-02 .item .entrar {}

.box-02 .entrar {
    padding: 20px 70px;
    background: #ff9500;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    border-radius: 8px;
}

.box-03 {
    width: 904px;
    margin: 30px auto;
    opacity: 0.6;
    transition: all linear 0.8s 0.55s;
}

.box-03-total:hover .box-03 {
    opacity: 1;
    transition: all linear 0.5s;
}

.box-03 .titulo {
    font: 40px 'calibri';
    color: #003366;
    text-align: center;
    /* margin-bottom: 0px; */
}

.box-03 .titulo::first-line {
    color: #003366;
}

.box-03 .linha {
    height: 4px;
    background: #eee;
    width: 100%;
    margin: 20px 0px 0px;
    position: relative;
    box-shadow: -1px -1px 2px 0px #fff inset;
}

.box-03 .linha .barra {
    width: 80px;
    transition: all linear 0.8s 0.55s;
    height: 100%;
    background: #ff9500;
    position: relative;
}

.box-03-total:hover .linha .barra {
    width: 100%;
    transition: all linear 0.5s;
}

.box-03 .item {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.box-03 input {
    width: 100%;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    font: 18px 'calibri';
    border-radius: 7px;
}

.box-03 input:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.box-03 textarea {
    width: 100%;
    height: 200px;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    resize: none;
    font: 18px 'calibri';
}

.box-03 textarea:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.box-03 .submit {
    width: 100%;
    padding: 20px 70px;
    background: #ff9500;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.btnTopo a:hover {
    opacity: 0.8;
    transition: 0.9s;
    background: none;
    color: #ff9500;
    border: 1px solid #ff9500;
}

.btnTopo{
    transition: 0.6s;
    width: 1200px;
    /* text-align: center; */
    display: flex;
    margin: 0 auto 30px;
    justify-content: space-evenly;
}


li#menu-item-109:hover {
    opacity: 0.8;
    transition: 0.6s;
}

li#menu-item-109 {
    transition: 0.6s;
}

.formulario {
    margin: 40px 0px;
}

.formulario input {
    width: 100%;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    font: 18px 'calibri';
}

.formulario input:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.formulario textarea {
    width: 100%;
    height: 200px;
    padding: 19px 20px;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    box-sizing: border-box;
    background: #eee;
    outline: none !important;
    resize: none;
    font: 18px 'calibri';
}

.formulario textarea:focus {
    box-shadow: 2px 0px 0px 0px #72120b inset;
}

.formulario .submit {
    width: 100%;
    padding: 20px 70px;
    background: #72120b;
    margin: 0 auto;
    color: #fff;
    font: 20px 'calibri';
    display: table;
    transition: all 0.5s;
    cursor: pointer;
}

.conteudo-pages h1 {
    width: 750px;
    font: 52px 'calibri';
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    /* margin-bottom: 40px; */
    /* background: linear-gradient(45deg, #242c55, #003366); */
    padding: 90px;
    /* border-top: 5px solid #fff; */
    /* border-bottom: 5px solid #fff; */
    /* box-shadow: 0px 0px 0px 5px #036; */
    text-transform: uppercase;
}

.conteudo-pages h1::first-line {
    /* color: #ffffff; */
}

.empresa-total {
    width: 1200px;
    margin: 0 auto;
}

.texto-empresa {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.item-text {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 600px;
    width: 650px;
}

.item-text .item {
    padding: 30px;
}

.item-text h2 {
    font-family: 'Myriad Pro';
    font-size: 30px;
    border-bottom: 2px solid #043f7a;
    color: #043e79;
}

.item-text p {
    font-family: 'Myriad Pro';
    font-size: 18px;
    padding: 10px 0px;
    line-height: 35px;
    text-align: justify;
}

.item-text i {
    color: #3c3c3c;
}

.texto-empresa img {
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 20px;
}

.mvv-total {
    background: url('../pw-images/fundo.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}

li.btn-topo:hover a {
    background: #ea8c45!important;
    border-radius: 1px!important;
}
li.btn-topo a {
    background: #ed7b25!important;
    padding: 10px!important;
    color: white!important;
    border-radius: 3px!important;
    margin-left: 15px;
}

.texto-page {
    width: 1200px;
    margin: 50px auto;
}

.servicos-1 {
    align-items: center !important;
    padding: 20px 0;
}

/* Selo pag servicos */
.imagem-Selo {
    text-align: center;
}

.servico-dois{
    display: flex;
}

.titulo-empresa h2 {
    text-align: center;
    color: #002d79;
    /* padding-top: 10px; */
    font-family: Calibri;
    display: flex;
}

.servicos{
    margin-top: -20px;
}

.servicos p, .servicos-1 p{
    font-family: serif;
    font-size: 17px;
    text-align: justify;
    padding: 0px 10px;
}

.titulo-empresa p{
    font-family: serif;
    font-size: 17px;
    text-align: justify;
    padding: 0px 10px;
}

.texto-page{
    text-align: center;
}

div#pg-96-1 {
    color: #002d79;
    padding: 0 17px;
}


.siteorigin-widget-tinymce.textwidget p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 16px;
    font-family: Calibri;
}

div#pg-96-3 {
    align-items: center !important;
}

.segundo-dr{
    padding: 10px 0;
}

form {
    width: 650px;
    display: block;
    /* flex-wrap: wrap; */
    /* width: 100%; */
    margin: 0 auto;
    text-align: left;
    background-color: #BDD7EE;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

form input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 5px 0px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
}

label {
    text-align: left;
}


input[type="file"] {
    border: none;
    font-family: Calibri;
    /* font-weight: bold; */
}

label {
    font-size: 20px;
    padding: 4px;
    font-family: Calibri;
    font-weight: bold;
    color: #172e5b;
}




span#nf-form-title-3 h3 {
    padding-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    color: #172e5b;
    font-family: Calibri;
}


input#nf-field-19 {
    width: 100%;
    font-family: Calibri;
    font-size: 20px;
    /* padding: 5px 0; */
    font-weight: bold;
    background-color: #bdd7ee;
    border: 3px solid white;
    height: 54px;
    transition:0.9s;
    color: black;
}

input#nf-field-19:hover {
    background-color: #fbfbfb;
    color:#000000;
}


.siteorigin-widget-tinymce textwidget h2 {
    font-family: Calibri;
}

strong {
    font-family: Calibri;
}



input[type="submit"] {
    font-family: Calibri;
    font-size: 20px;
  
    font-weight: bold;
    background-color: #003366ba;
   
    height: 40px;
    transition:0.9s;
    color: white;
}

input[type="submit"]:hover {
    background-color: white;
    transition: 0.9s;
    color: black;
}


div#pgc-w60a2820aad365-1-1 {
    margin-top: -110px;
}

.MsoListParagraph span{
    font-size: 18px !important;
    font-family: Calibri;
    font-weight: 700 !important;
}

.widget-title{
    font-family: Calibri;
    min-height:50px;
}


p.MsoListParagraph {
    text-align: center;
}



form.formhome {
    width: 100%;
    background: none;
    text-align: center;
    
}

form.formhome input {
  
    border-radius: unset;
    height: 63px;
    margin: 5px 0;
}

form.formhome input.submit {
    text-align: center;
    align-items: center;
    width: 0;
}


form.formhome input.submit {
    width: 100% !important;
    height: 70px;
    margin-top: 15px;
}

form.formhome input.submit:hover {
    background-color: #ffbf66bf;
    background: none;
    color: #ff9500;
    border: 1px solid #ff9500;
}



.servicos-qualidade{
    align-items: center !important;
}


img.image.wp-image-129.attachment-thumbnail.size-thumbnail {
    padding-left: 16px;
}

div#pl-w60a403c8491fb {
    padding: 20px 0;
}

div#pl-w60a403c848e00 {
    padding: 20px 0;
}



div#pg-w60a408054531b-1 {
    margin-top: 40px;
}

div#pg-w60a4080545603-1 {
    margin-top: 30px;
}

div#pg-w60a4080545603-0 {
    margin-top: 30px;
    }

img.image.wp-image-133.attachment-thumbnail.size-thumbnail {
    width: 130px;
}

img.image.wp-image-129.attachment-thumbnail.size-thumbnail {
    width: 130px;
}

.siteorigin-widget-tinymce.textwidget h2 {
    font-family: Calibri;
}

.nf-form-content label {
    color: #182f5b;
}


.so-widget-sow-image.so-widget-sow-image-default-6b88c04c1f9b {
    background: #003366b8;
    padding: 20px;
    border-radius: 20px;
}


.so-widget-sow-image-default-6b88c04c1f9b .widget-title {
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
}


.titulo-total{
    background-image: url(http://xn--criar-site-criao-sites-r4b9g.com.br/provas/multipat-programado/wp-content/themes/personalizado/pw-images/exames-clinicas.jpg);
   
    display: flex;
    align-items: center;
}




.formhome input.submit {
    border: unset;
}


.linha1-servicos.panel-row-style.panel-row-style-for-w60a56cb222067-1 {
    display: flex;
    align-items: center !important;
}


div#pg-w60a56f38cf816-1 {
    padding: 20px 0;
}

div#pg-w60a56ed7c2401-1 {
    padding: 20px 0;
}

.linha1-servicos.panel-row-style.panel-row-style-for-w60a56f38cf7f8-1 {
    display: flex;
    align-items: center !important;
}



.frase-rodape {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.frase-rodape p {
    color: white;
    font-size: 14px;
    font-family: Calibri;
    text-align: justify;
}


.texto-page form input{
    height:50px;
}





























    






@media only screen and (max-width:1200px) {
    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    .linha-total *,
    .topo-total *,
    .conteudo-pages,
    .conteudo-pages *,
    .box-02-total *,
    .mapa *,
    .rodape-total * {
        max-width: 100%;
    }

    .swiper-container img {
        max-width: auto;
    }

    .swiper-container {
        height: 0;
        transition: all 0.5s;
    }

    .conteudo-pages {
        padding: 2%;
    }

    .topo > div {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .menu-resp {
        display: block;
        background: url('../images/menu-resp.png') center no-repeat;
        padding: 20px;
        cursor: pointer;
    }

    .rodape div {
        width: 100%;
        margin: 20px 0px;
        text-align: center;
    }

    .menu li .ativo::before {
        display: none;
    }

    .menu li a {
        padding-top: 3px !important;
    }
}

@media only screen and (max-width:980px) {
    .box-03 .item {
        width: 100%;
    }

    .box-03 {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .menu li a {
        padding: 0 10px 10px;
    }

    .linha .item:last-child {
        font-size: 13px;
    }

    .linha-total .linha {
        justify-content: center;

    }

    .menu li a {
        color: #fff;
    }

    .menu li:last-child {
        width: 100%;
    }

    .menu li {
        width: 50%;
        padding: 10px;
        background: #036;
        border: 1px solid#fff;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .linha .item {

        margin: 5px;
    }

    div#wowslider-container1 {
        display: none;
    }

    .box-01 .conteudo .titulo {
        font: 35px 'calibri';
        text-align: center;
    }

    .box-01 .conteudo .entrar {

        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .item-rodape-total {
        flex-wrap: wrap;
    }

    .rodape .item i {

        margin: 0px 10px;
    }

    .rodape .item {
        justify-content: center;
    }
}
 