* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
/* PAGINA DE ERRO 404 - NAO MEXER */

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0;
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

/* #####################FINAL###################### */

/* all pages */





.topo-total {
    width: 1200px;
    background-color: white;
    display: flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.topo-logotipo{
    padding: 5px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 20px;
    /* text-decoration: none; */
}

li a{
    text-decoration: none;
    color: #e82e5d;
    font-size: 16px;
}

.menu-total {
    width: 535px;
}

.menu-presente {
    width: 70px;
    background-color: #e6e6e6;
    padding: 3px;
    border-radius: 8px;
    height: 36px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menu-presente i{
    font-size: 21px;
    color: #e22c5f;
}

.presente-conteudo {
    padding: 2px;
    display: flex;
    align-items: center;
}

.presente-conteudo a {
    background-color: #71b89a;
    border-radius: 6px;
}

.topo-pesquisa {
    width:1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

input[type="text"] {
    width: 500px;
    border: 2px solid #b1b1b1;
    border-radius: 5px;
    height: 25px;
}

.submitLente{
    border: none;
    background-color:white;
    margin-left: -30px;
}

.submitLente i {
    color: #e22c5f;
}

.linha-menu {
    padding: 10px;
    opacity: 0.6;
}

.rodape-total {
    width: 1200px;
    background-color: white;
    display: flex;
    align-items:center;
    margin: 0 auto;
    justify-content: space-between;
}

.rodape {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape-logotipo{
    padding: 5px;
    display: flex;
}

.rodape-conteudo a {
        font-weight: bolder;
        padding: 10px;
}

.box-01{
    width: 100%;
    text-align: center;
}
.banner-principal{
    width: 100%;
}

.banner-principal{
    width: 100%;
    background: #71b89a;
}

.box-02 {
    width: 100%;
    background-color:gainsboro;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.servico-qualidade {
    width:1200px;
    display: flex;
    justify-content:space-around;
}

.qualidade h2{
    font-size: 16px;
    color: black;
    padding: 20px;
}

.qualidade i {
    font-size: 60px;
    color: #e22c5f;
    padding: 25px;
}

.box-03 {
    width: 1200px;
    background-color:white;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.box-03 h2{
    padding-top: 30px;
    font-size: 20px;
    color: #e22c5f;
    /* flex-wrap: wrap; */
}

.box-imagens{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.tiulo-box-02{
    width: 650px;
    display: flex;
    margin-top: 30px;
}

.box-imagens p{
        font-size: 20px;
}

.quantidade-presente {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #00d83e;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.box-imagens.novidades button {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: gainsboro;
    display: flex;
    margin-top: 10px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

button.btnEspiar {
    margin-top: 10px;
    width: 80px!important;
    /* display: list-item; */
    margin: 10px auto;
    /* height: 13px; */
}

button.btnEspiar p{
    font-size: 12px!important;
}

button.btnEspiar i{
    font-size: 12px!important;
}

.box-final {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    /* padding-top: 30px; */
    background: url(../pw-images/esfinge-box-final.jpg);
}

.box-final-conteudo {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #d8d8d8a8;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.box-final-conteudo button {
    width: 300px;
    padding: 10px;
    background: lightgreen;
}

@media only screen and (max-width: 1280px) {
* {
    max-width: 100%;
    margin: 0 auto;
}

.topo-total{
    width: 90%;
}
}

@media only screen and (max-width: 900px) {
    
   .topo-total{
       display: flex;
       flex-wrap: wrap;
   }
    .topo-logotipo{
        width: 100%;
        text-align: center;
    }
    .menu-total{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        /* margin: 0 auto; */
    }

    .menu{
        margin: 0 auto;
    }

    .menu-presente{
        /* text-align: center; */
        /* width: 100%; */
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .box-imagens{
        flex-wrap: wrap;
    }

    .imagem-produto{
        width: 100%;
        padding: 20px;
    }

    .imagem-produto button{
        margin: 0 auto;
    }

    .rodape{
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rodape-logotipo{
        width: 100%;
    }

    .rodape-conteudo{
        width: 100%;
        padding: 20px 0;
    }

    .box-final-conteudo{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .final-texto{
        width: 100%;
        padding: 20px;
    }

    .box-final-botao{
        width: 100%;
    }

    


    }

    @media only screen and (max-width: 1050px) {
    .servico-qualidade{
        flex-wrap: wrap;
    }

}

    .qualidade {
        /* padding: 10px 40px; */
        width: 100%;
        /* display: flex; */
        justify-content: center;
    }

    @media only screen and (max-width: 560px) {
    
        .menu ul{

            display: initial;
            text-align: center;
        }
} 