

*{
    font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	margin:0;
    padding:0;
}

/* PÁGINA DE ERRO 404 - NÃO MECHER */

#erro-total{
	width:700px;
	height:270px;
	margin:15px 0;
}

#imagem-centralizada{
	width:100%;
	text-align:center;
	margin:10px 0;
}

#texto-404{
	width:100%;
	font-family:Calibri;
	font-size:22px;
	text-align:center;
}

#aguarde{
	width:100%;
	font-family:Calibri;
	font-size:19px;
	text-align:center;
	margin:5px 0;
}

/* #####################FINAL###################### */

/* all pages */


.topo-total {
    width: 100%;
    background-color: black;
}

.topo {
    width: 1200px;
    margin: 0 auto;
    /* color: white; */
    display: flex;
}