div:hover>.btn {
    display: block;
    opacity: 1;
    transform: rotate(360);
    transition: all 1s;
}

html {
    scroll-behavior: smooth;
}

.noticias .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0;
    background: #eee;
    margin: 10px 0;
    position: relative;
}
i.fas.fa-globe {
    font-size: 40px;
    color: #ff5400;
    padding: 0px 15px;
}
.texto-noticia a {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.item-noticia a {
    width: 95%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
}

span.btn-mais {
    color: #2a2a2a;
    margin: 0;
}

span.btn-mais:hover {
    color: #ffab03;
}

.noticias .img {
    height: auto;
    width: auto;
    overflow: hidden;
}

.item-noticia {
    width: 600px;
}

.titulo-noticia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.data {
    font: 16px 'Fjalla One', sans-serif;
    font-weight: bold;
    color: #353535;
}

.texto-noticia {
    font: 17px/25px Calibri;
    margin: 15px 0;
    text-align: justify;
    padding: 0px 20px;
}

hr {
    margin: 30px;
    border: 1px solid #eee;
}

.btn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
    opacity: 0.6;
    transition: all 1s;
}

.btn.absolute {
    position: absolute;
}

.btn>div {
    width: 100px;
    display: inline-block;
}

.btn .remove::before {
    font-weight: 900;
    content: "\f05e";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .remove::after {
    content: "";
    font-family: calibri;
    font-size: 14px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::before {
    font-weight: 900;
    content: "\f055";
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn .add::after {
    content: "RETORNAR";
    font-family: calibri;
    font-size: 16px;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
}

.btn.white *::before,
.btn.white *::after {
    color: #fff !important;
}

* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

.img2 {
    margin-top: 7px;
}

.conteudo-total strong {
    font-family: calibri;
    font-size: 19.5px;
    font-weight: bold;
}

.logos {
    display: flex;
    align-items: center;
}

.info ul strong {
    font-size: 21px;
    font-family: calibri;
}

.logos .img2 {
    margin-top: 2px;
    padding-left: 21px;
}
li#menu-item-113 {
    position: relative;
    transition: 1s;
}

li#menu-item-113 ul {
    position: absolute;
}


.box-03 h1 {
    font-size: 19px;
}

span.icon-rodape {
    margin-left: -22px;
}


#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

i.far.fa-envelope {
    color: #ff9900;
}

i.fas.fa-phone-volume {
    color: #ff9900;
}

.item.fim i {
    left: -35px !important;
    top: -9px !important;
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

body {
    overflow-x: hidden
}

a {
    text-decoration: none
}

.esquerda,
.esquerdo,
.left,
.float-left,
.alignleft {
    float: left;
    display: table;
    margin: 0 10px 10px 0
}

.direita,
.direito,
.right,
.float-right,
.alignright {
    float: right;
    display: table;
    margin: 0 0 10px 10px
}

.meio,
.center,
.aligncenter {
    display: table;
    margin: 20px auto
}

.borda {
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 2px 0 #666
}

.global {
    margin: 0 auto
}

.conteudo-pages {
    min-height: 500px;
    width: 998px;
    margin: 0 auto
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo .img img {
    width: 50px;
}

.texto-pages {
    text-align: justify;
    margin: 20px 0;
    background: #eeeeee1f;
    padding: 20px;
}

.texto-pages p {
    font: 20px/28px Calibri;
    color: #000;
    margin: 10px 0;
}

.texto-pages h1 {
    font: 30px Calibri;
    margin-bottom: 15px;
    font-weight: 700;
    color: #ff5400;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
   margin: 0px 200px;
}

.texto-pages h1 img {
    width: 50px;
}

.texto-pages b {
    font: 20px/28px Calibri;
    color: #000;
    font-weight: bold;
}

.texto-pages h2 {
    font: 25px Calibri;
    margin-bottom: 15px;
    font-weight: 700;
    color: #ff5400;
    padding: 20px 0;
}

.texto-pages h3 {
    font-family: Calibri;
    font-size: 25px;
    color: #ff5400;
}

/* Dropdown Button */
.dropbtn {
    background-color: unset;
    color: #525152;
    border: none;
    transition: 1s;
    font-size: 16px;
    list-style: none;
    font-weight: bold;
    padding: 0 10px;
    font: 30px 'Fjalla One', sans-serif;
    border-right: 3px solid #eee;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    transition: 1s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #ff5400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s;
    color: #fff !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff !important;
    padding: 10px !important;
    text-decoration: none;
    display: block;
    transition: 1s;
    font: 16px/24px 'Calibri', sans-serif;
    /* width: 220px; */
    font-weight: bold;
    text-shadow: unset !important;
    border-right: unset !important;
    margin: unset !important;
    font-size: 20px!important;
}

.dropdown-content a:hover {
    /* border-radius: unset !important; */
    /* background: #525152 !important; */
}

i.fas.fa-caret-down {
    color: #525152;
    font-size: 35px;
    padding-left: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #506082;
    transition: 1s;
    color: #fff !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
    margin-left: 4px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    transition: 1s;
}

.sub-menu ul li:hover {
    background: #506082 !important;
}

.dropdown:hover .dropbtn i {
    transition: 1s;
}

.botÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â£o {
    color: #ff5400;
    font-size: 25px;
    font-family: Calibri;
    text-align: right;
    padding: 20px;
    font-weight: bold;
}

.texto-pages img {
    width: 250px;
    padding: 10px;
}

.contato input {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato [required="required"] {
    background: #eee url(template/images/required.png) center right 10px no-repeat;
    background-size: 9px
}

.contato select,
.contato option {
    width: 50%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset
}

.contato textarea {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none !important;
    resize: none;
    height: 200px;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato .submit {
    cursor: pointer;
    background: #333;
    color: #fff
}

.contato .required {
    color: #d90000;
    font: 17px calibri;
    font-weight: lighter;
    margin-bottom: 10px
}

.contato .required img {
    height: 9px
}

.topo-total {
    background: #ffffff;
    box-shadow: 0 2px 5px 0;
    position: relative;
    z-index: 9999999;
    padding: 15px;
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden
}

.logo {
    margin: 10px 0;
    padding: 0 20px
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.menu li {
    list-style-type: none;
    margin: 0px 0;
}

.menu li a {
    color: #525152;
    font: 30px 'Fjalla One', sans-serif;
    padding: 0 20px;
    margin: 10px 0;
    border-right: 3px solid #eceaea;
    transition: .5s;
    position: relative;
}

.menu li a:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 20px;
    opacity: 0;
    transform: translate(0px, 60%);
    transition: all .3s
}

.menu li:last-child a {
    border: none
}

.menu li a:hover {
    color: #ff5400;
}

.menu li a:hover:after {
    color: #f57c41;
    transform: translate(0px);
    opacity: 1;
}

ul.sub-menu {
    width: 120%;
}

.rodape-total {
    background: #eeeeee;
    border: 1px solid #dadada;
}

.rodape {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.btnWpp {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.btnWpp a i {
    background: green;
    font-size: 50px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff !important;
    width: 50px;
    display: flex;
    justify-content: center;
}

.btnWpp a i:hover {
    background: #22c422;
}

.btnTop {
    display: flex;
    align-items: center;
}

.btnTop a i {
    font-size: 45px;
    transition: 0.5s;
}

.btnTop a i:hover {
    color: #fcaf3c;
    transform: rotate(360deg);
    transition: 0.5s;
}

.btnTop a {
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 15px;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.texto-rodape {
    font: 20px 'Fjalla One', sans-serif;
    color: #3c3c3c;
    margin: 0px 0;
    text-align: center;
    width: 350px;
    margin-bottom: 20px;
}

.texto-rodape span {
    font: 18px 'Fjalla One', sans-serif;
    color: #3c3c3c;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

.texto-rodape i {
    font-size: 55px;
    color: #fcaf3c;
    padding: 20px;
}

.texto-rodape.endereco {
    border-right: 0px;
}

.texto-rodape.contatos {
    border-right: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px;
    justify-content: center;
}

.texto-rodape.contatos .item i {
    font-size: 30px;
    width: 40px;
    height: 40px;
}

.texto-rodape.endereco p {
    font: 18px 'Fjalla One', sans-serif;
    color: #3c3c3c;
    text-align: left;
    margin: 0px 20px;
}

.texto-rodape:nth-child(2) {
    border-right: 1px solid #4a4a4a7d;
    border-left: 1px solid #4a4a4a3d;
}

.social-rodape {
    display: flex;
    justify-content: space-around
}

.social-rodape a {
    margin: 10px
}

.social-rodape i {
    font-size: 20px;
    color: #fff;
    background: #525152;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 999;
    position: relative;
    transition: .4s
}

.social-rodape i:hover {
    background: none
}

.social-rodape i:after {
    content: '';
    width: 0;
    height: 0;
    background: #fcaf3c;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.social-rodape i:hover:after {
    width: 100%;
    height: 100%
}

.logo-pw {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #52515261;
}

.logo-pw div {
    text-align: left
}

.logo-pw div p:first-child a {
    color: #555;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block;
    color: #212121;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block;
    margin-right: -25px;
}

.logo-pw div a span {
    color: transparent
}

.box-05 {
    width: 1200px;
    margin: 0 auto 40px;
    padding: 50px 0;
}

.box-05 .titulo {
    font: 35px 'Fjalla One', sans-serif;
    padding-bottom: 25px;
    text-align: center;
    COLOR: #525152;
}

.box-05 form {
    width: 565px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.map {
    display: flex;
    justify-content: space-between;
}

.linha {
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 3px 3px 1px #7e7e7e;
}

.linha:before {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 55px solid transparent;
    border-right: 30px solid #ffffff;
    content: ' ';
    position: absolute;
    left: -30px;
    top: 0px;
}

.linha:after {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 30px solid #ffffff;
    content: ' ';
    position: absolute;
    right: -30px;
    top: 0px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    animation: atencao 10s 10s infinite;
}

.whatsapp a {
    background: #25d366;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.whatsapp a:hover {
    animation: whatsapp 1.5s
}

.whatsapp i {
    color: #fff !important;
    font-size: 35px !important;
}

@keyframes whatsapp {
    30% {
        box-shadow: 0 0 0 7px rgba(37, 211, 102, 0.4)
    }

    45% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.4)
    }

    60% {
        box-shadow: 0 0 0 7px rgba(37, 211, 102, 0.4)
    }
}

.linha .item {
    font: 14px 'calibri';
    font-weight: bold;
}

.linha .item i {
    font-size: 24px;
    color: #f90;
    margin-right: 3px;
}

.item.whats {
    color: #fff;
    background: #1b7100;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 23px;
    transition: 0.5s;
}

.item.whats i {
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -28px;
    background: linear-gradient(45deg, #283025, #1b7100);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #fff;
}

i.fab.fa-whatsapp {
    color: #ff9900;
    margin-right: 2px;
    font-size: 24px;
}

.item.chat {
    color: #fff;
    background: #0085cb;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 23px;
    width: 140px;
    transition: 0.5s;
}

.item.chat i {
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -26px;
    background: linear-gradient(45deg, #123946, #0085cb);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #fff;
}

.item.telefone {
    font: 17px 'Fjalla One', sans-serif;
}

.item.chat:hover {
    background: #066a9c;
    transition: 0.5s;
}

.item.whats:hover {
    background: #20580f;
    transition: 0.5s;
}

.global {
    margin: -50px auto;
}

.box-05 input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font: 18px "Calibri";
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.box-05 textarea {
    resize: none;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
    font: 18px "Calibri";
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.box-05 input.submit {
    width: 300px;
    background: #ff9900;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
    text-transform: uppercase;
}

.box-05 input.submit:hover {
    background: #2a2a2a;
    color: #ffffff;
}


span.icon-rodape i {
    padding: 0;
    color: #3c3c3c !important;
}

span.icon-rodape i {
    padding: 0;
    color: #ff9900 !important;
}

.item.whats.fim i {
    color: #fff;
}

/* Index */

.swiper-slide {
    min-height: 600px;
    background: #2b2b2b;
}

.swiper-slide img {
    display: flex;
}

.box-01-total {
    position: relative;
    display: flex;
    justify-content: center;
}

.box-01 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
    z-index: 999;
}

.box-01 b {
    color: #fff;
    font-family: Calibri;
    font-size: 18px;
}

.box-01 .box {
    width: 32%;
    background: #bbb7b57a;
    text-align: center;
    /* box-shadow: 6px 6px 0px 0px rgba(37, 37, 37, 0.6); */
    transition: .5s;
    position: relative;
    display: flex;
    visibility: hidden;
}

.box-01 .box:after {
    content: '';
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.box-01 .box:hover:after {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.box-01 .box .img {
    background: #ff9900;
    width: 190px;
    height: 190px;
    margin: 30px auto;
    margin-top: -50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 15px #ff9900;
    transition: .5s;
}

.box-01 .box:hover .img {
    box-shadow: 0px 0px 0px 10px #d68409;
}

.box-01 .box .img i {
    font-size: 90px;
    color: #fff;
}

.box-01 .box .titulo {
    margin: 10px 0px;
    font: 30px 'Fjalla One', sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
}

.box-01 .box .texto {
    margin: 10px 0px;
    padding: 0px 20px;
    font: 18px 'calibri';
    color: #fff;
    position: relative;
    z-index: 1;
}

.box-01 .box .botao {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.box-01 .box .botao i {
    font-size: 30px;
    color: #fff;
    transition: .5s 0.4s;
}

.box-01 .box:hover .botao i {
    color: #ff9900;
    transform: translate(-10px);
}

.box-02-total {
    background: #dadada;
    border: 1px solid #dadada;
}

.box-02 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    padding: 130px 30px 30px;
}

.box-02 .texto {
    margin: 30px 0px;
    font: 32px 'Fjalla One', sans-serif;
    color: #86817f;
    text-transform: uppercase;
    visibility: hidden;
}

.box-03 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box-03 .conteudo-total {
    visibility: hidden;
}

.box-03 .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-03 .conteudo .img {
    margin: 20px 0px;
    padding: 0px 10px;
}

.box-03 .conteudo .container {
    padding-top: 25px;
}

.box-03 .conteudo .container .titulo {
    font: 40px 'Fjalla One', sans-serif;
    color: #525152;
    padding: 0px 20px;
}

.box-03 .conteudo .container .texto {
    font: 20px 'Fjalla One', sans-serif;
    color: #AAAAAA;
    padding: 0px 20px;
    text-transform: uppercase;
}

.box-03 .info {
    margin: 20px 0px;
}

.box-03 .conteudo-total p {
    font-family: calibri;
    font-size: 21px;
    text-align: justify;
}

.box-03 .info p {
    list-style-type: none;
    font: 22px 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: #444;
    padding: 0px 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.box-03 .info li i {
    color: #ff9900;
    padding-right: 10px;
    font-size: 15px;
}

.box-03 .img {
    margin: 20px 0px;
    visibility: hidden;
}

.box-04-total {
    display: flex;
    flex-direction: column;
    background: #eee;
    border: 1px solid #dadada;
}

.box-04 {
    width: 1200px;
    margin: 0 auto;
}

.box-04 div {
    color: #2e2e2e;
    font-family: Calibri;
    font-size: 18px;
}

.box-04 .titulo {
    font: 40px 'Fjalla One', sans-serif;
    color: #444;
    margin: 20px 0px;
    padding: 0px 20px;
    text-align: center;
}

.box-04 .conteudo {
    display: flex;
    justify-content: space-around;
}

.box-04 .conteudo .item {
    width: 270px;
    visibility: hidden;
}

.box-04 .conteudo .item .img {
    width: 270px;
    margin: 10px 0px;
    perspective: 1000px;
}

.box-04 .conteudo .item .img .flip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: .5s;
}

.box-04 .conteudo .item:hover .img .flip {
    transform: rotatex(180deg);
}

.box-04 .conteudo .item .img .front {
    position: relative;
    z-index: 999;
}

.box-04 .conteudo .item .img .back {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff9900d4;
    transform: rotateX(180deg);
}

.box-04 .conteudo .item .img .back i {
    font-size: 50px;
    color: #fff;
}

.box-04 .conteudo .item .img img {
    display: flex;
    transition: .5s;
    width: 100%;
}

.box-04 .conteudo .item .nome {
    font: 32px 'Fjalla One', sans-serif;
    color: #2A2A2A;
    margin: 10px 0px;
}

.box-04 .conteudo .item .texto div {
    font: 18px 'calibri';
    color: #545454;
    margin: 10px 0px 20px;
}
.box-04 div strong {
    color: #2e2e2e;
    font-family: Calibri;
    font-size: 18px;
}
.box-05.contato {
    width: 948px;
}

.box-05.contato iframe {
    width: 360px;
}
.titulo h1 {
    font: 30px Calibri;
    margin-bottom: 15px;
    font-weight: 700;
    color: #ff5400;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 20px auto;
}
.texto.pages p {
    font: 20px/28px Calibri;
    color: #000;
    margin: 10px 0;
}

.titulo-pages h1 {
    font: 30px Calibri;
    margin-bottom: 15px;
    font-weight: 700;
    color: #ff5400;
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    margin: 20px auto;
}

.texto.pages {
    background: #eee;
    padding: 0px 10px;
}

.texto.pages strong {
    font-family: Calibri;
    font-size: 25px;
    color: #ff5400;
}
@media only screen and (max-width:1450px) {
    .btnWpp {
        position: fixed;
        right: 5px;
        bottom: 5px;
    }
    .conteudo-rodape {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
    }

}
@media only screen and (max-width:1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box
    }

    .conteudo-pages {
        padding: 2%
    }

    .box-01 {
        position: relative;
        bottom: 0;
    }

    .box-02 {
        padding: 30px;
    }
    .btnWpp a i {
        background: green;
        font-size: 50px !important;
        padding: 10px;
        border-radius: 50%;
        color: #fff !important;
        width: 70px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:1180px) {
    .box-03 .conteudo-total {
        width: 100%
    }

    .box-03 .conteudo {
        justify-content: center
    }

    .box-03 .info {
        display: none
    }

    .box-03 .img {
        padding: 0 20px
    }
}

@media only screen and (max-width:1022px) {
    .topo {
        flex-direction: column
    }

    .conteudo-rodape {
        display: block
    }

    .texto-rodape {
        text-align: center
    }
}

@media only screen and (max-width:970px) {
    * {
        visibility: visible
    }

    .box-01 .box .titulo {
        font: 25px 'Fjalla One', sans-serif
    }
}

@media only screen and (max-width:810px) {
    .swiper-slide {
        min-height: initial
    }

    .box-01 {
        position: relative;
        bottom: 0;
        flex-direction: column
    }

    .box-01 .box {
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        box-shadow: none
    }

    .box-01 .box .img {
        margin-top: 30px
    }

    .box-01 .box .titulo {
        font: 35px 'Fjalla One', sans-serif
    }

    .box-02 {
        padding: 30px
    }

    .box-05 {
        padding: 50px 10px;
    }
}

@media only screen and (max-width:700px) {
    .box-04 .conteudo .item .img .back i {
        font-size: 30px
    }

    .box-03 .conteudo .container .titulo {
        font: 38px 'Fjalla One', sans-serif
    }

    .box-04 .titulo {
        font: 40px 'Fjalla One', sans-serif
    }

    .box-04 .conteudo .item .nome {
        font: 19px 'Fjalla One', sans-serif
    }

    .box-04 .conteudo .item .texto {
        font: 15px calibri
    }
}

@media only screen and (max-width:582px) {
    .menu-total {
        width: 100%
    }

    .menu li {
        text-align: center;
        width: 48%;
        padding: 20px;
        margin: 7px 0;
        border: 2px solid #fff
    }

    .menu li a {
        font: 20px 'Fjalla One', sans-serif;
        border-right: none;
        padding: 10px 20px
    }

    .menu li a:hover {
        color: #fff
    }

    .menu li a:after {
        display: none
    }

    .box-01 .box .titulo {
        font: 25px 'Fjalla One', sans-serif
    }

    .box-01 .box .texto {
        font: 15px calibri
    }

    .box-02 .texto {
        font: 30px 'Fjalla One', sans-serif
    }

    .box-03 .info li {
        font: 20px 'Fjalla One', sans-serif
    }

    .box-04 .conteudo {
        flex-wrap: wrap;
    }

    .box-04 .conteudo .item {
        width: 90%;
    }
}