div:hover > .btn { display: block; opacity: 1; transform: rotate(360); transition: all 1s; } .btn { text-align: center; margin: 0 auto; width: 100%; height: 40px; padding: 5px 0px; bottom: 0px; z-index: 999; cursor: pointer; opacity: 0.6; transition: all 1s; } .btn.absolute { position: absolute; } .btn > div { width: 100px; display: inline-block; } .btn .remove::before {    font-weight: 900; content: "\f05e"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .remove::after { content: ""; font-family: calibri; font-size: 14px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::before { font-weight: 900; content: "\f055"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::after { content: "RETORNAR"; font-family: calibri; font-size: 16px; color: #000; width: 100%; text-align: center; display: block; } .btn.white *::before, .btn.white *::after { color: #fff !important; }

* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

a {
    text-decoration: none
}

.global {
    margin: 0 auto
}

.conteudo-pages {
    min-height: 500px;
    box-shadow: 1px 5px 5px #eee;
}

.texto-pages {
    font: 15px/25px Calibri;
    color: #000;
    text-align: justify
}

.texto-pages h1 {
    font: 25px Calibri;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.texto-pages h2 {
    font: 20px Calibri;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.menu-resp {
    display: none
}

.contato form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.contato input {
    font-size: 17px;
    width: 48%;
    padding: 15px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none!important;
    border-radius: 2px
}

.contato input:focus,
.contato textarea:focus {
    box-shadow: 2px 0 0 0 #F27F33 inset;
    border-radius: 0 2px 2px 0
}

.contato textarea {
    font-size: 17px;
    width: 100%;
    padding: 15px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none!important;
    resize: none;
    height: 200px;
    border-radius: 2px
}

.contato .submit {
    width: 100%;
    cursor: pointer;
    background: #63b7be;
    color: #fff;
    border-radius: 2px!important;
    margin-bottom: 0;
}

body {
    overflow-x: hidden
}

.fundo-slider {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1
}

.topo-total {
    padding: 40px 0;
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.topo > div {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.menu li {
    display: inline-block;
    padding: 10px 20px
}

.menu li a {
    font: 20px calibri;
    color: #2ea0ab;
}

.rodape {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}

.rodape > div {
    padding: 20px 0;
    font: 20px calibri;
    color: #878787;
    display: flex;
    align-items: center;
    justify-content: center
}

.rodape .social img {
    padding: 5px
}

.wpp {
    padding: 20px 0;
    font: 20px calibri;
    color: #878787;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-pw {
    text-align: center;
}

.logo-pw p:last-child a {
    display: inline !important;
}

i.fab.fa-whatsapp {
    font-size: 25px;
    padding: 5px;
    color: #1d6101;
}

.logo-pw div p:first-child a {
    color: #878787;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block
}

.logo-pw div {
}

.logo-pw div a span {
    color: transparent
}

.g-recaptcha{
    margin: 10px auto !important;
}
.conteudo-pages h1 {
    background: #09bdce;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-servico {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto-servico p {font-size: 23px;font-family: 'calibri';line-height: 35px;width: 700px;text-align: justify;}

.texto-servico img {
    border-radius: 50%;
}
/* Index */


.box-01-total { padding: 20px 0px 40px; } .box-01 { display: flex; flex-wrap: wrap; justify-content: space-around; width: 1200px; margin: 0 auto; } .box-01 a:nth-child(1) .item { background: #FA4D60; } .box-01 a:nth-child(2) .item { background: #B570A2; } .box-01 a:nth-child(3) .item { background: #64BCEE; } .box-01 a:nth-child(4) .item { background: #FA824A; } .box-01 a:nth-child(5) .item { background: #5FB6B7; } .box-01 a:nth-child(6) .item { background: #77CCDC; } .box-01 .item { width: 350px; margin: 10px 0px; background: #666; visibility: hidden; } .box-01 .item:hover { transform: scale(1.1); box-shadow: 0px 13px 22px -10px #313131; transition: all 0.7s; z-index: 1; } .box-01 .item .img { padding: 0px 20px; } .box-01 .item .img i { margin: 30px 0px; font-size: 70px; color: #fff; transition: all 0.7s; } .box-01 .item:hover .img i { transform: translateX(230px) rotate(-10deg); transition: all 0.7s; } .box-01 .item .titulo {font: 40px 'calibri';font-weight: lighter;color: #fff;margin-bottom: 10px;padding: 0px 20px;transition: all 0.5s;min-height: -155px;} .box-01 .item .detalhe {font: 20px 'calibri';font-weight: lighter;color: #fff;margin-bottom: 20px;padding: 0px 20px;transition: all 0.5s;min-height: 49px;} .box-01 .item:hover .titulo, .box-01 .item:hover .detalhe { transform: translate(10px, -30px) scale(1.1) rotate(5deg); transition: all 1s; } .box-01 .item .entrar { font: 20px 'calibri'; font-weight: lighter; color: #666; padding: 20px; box-sizing: border-box; text-align: center; width: 100%; background: #eee; position: relative; } .box-01 .item:hover .entrar::before { top: -38px; transition: all 0.5s; } .box-01 .item .entrar::before { content: ''; position: absolute; top: 0px; right: 30px; border: 20px solid transparent; border-bottom-color: #eee; transition: all 0.5s; } .box-02-total {background: url('../pw-images/fundo-box-02.jpg');background-size: cover;padding: 60px;} .box-02 { width: 1060px; margin: 0 auto; text-align: center; } .box-02 .titulo {font: 55px 'calibri';font-weight: lighter;color: #ffffff;margin-bottom: 30px;} .box-02 .conteudo {font: 25px 'calibri';font-weight: lighter;color: #fff;margin-bottom: 30px;} .box-02 .entrar {font: 25px 'calibri';font-weight: lighter;color: #fff;padding: 10px 50px;display: table;margin: 0 auto;border: 2px solid #fff;transition: all 0.3s;} .box-02 .entrar:hover {background: #80b6bb;color: #f8f8f8;transition: all 0.3s;} .box-03-total { padding: 40px 0px 0px; } .box-03 { width: 1200px; margin: 0 auto; text-align: center; } .box-03 > .titulo {font: 40px 'calibri';/* font-weight: lighter; */color: #3fa7b1;margin-bottom: 30px;} .box-03 .box { display: flex; flex-wrap: wrap; justify-content: space-around; } .box-03 .box .item {width: 342px;padding: 40px 20px;box-sizing: border-box;} .box-03 .box .item:hover { background: #f8f8f8; border-radius: 20px 20px 0px 0px; transition: all 0.5s; } .box-03 .box .item:hover .img { transform: rotateY(360deg); transition: all 0.5s; box-shadow: 0px 0px 2px 2px #ccc; background: #ccc; } .box-03 .box .item .img { width: 150px; height: 150px; margin: 0 auto; border-radius: 50%; overflow: hidden; margin-bottom: 20px; } .box-03 .box .item .titulo { font: 25px 'calibri'; font-weight: lighter; color: #666; margin-bottom: 10px; } .box-03 .box .item .data {font: 18px 'calibri';font-weight: lighter;color: #999;text-align: justify;} .box-04-total {background: #d0bbb5;padding: 40px;} .box-04 { width: 1200px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around; } .box-04 > .titulo { width: 380px; font: 60px 'calibri'; font-weight: lighter; color: #fff; display: flex; align-items: center; } .box-04 .contato { width: 660px; } .mapa { position: relative; display: flex; }


@media only screen and (max-width:1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box
    }
    .conteudo-pages {
        padding: 2%
    }
    .menu-total {
        display: block;
        width: 100%
    }
    .menu li {
        margin-left: 0;
        margin-right: 0;
        text-align: center
    }
    .rodape div {
        width: 100%;
        margin: 20px 0;
        text-align: center
    }
    .fundo-slider * {
        max-width: unset!important
    }
    .menu ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .rodape div{
        margin: 0;
    }
    .rodape > div{
        padding: 10px 0;
    }
}

@media only screen and (max-width: 500px){
    .topo{
        padding: 5px;
    }
    .topo-total{
        padding: 10px 0 !important;
    }
    .menu li{
        padding: 10px !important
    }
    .box-02-total{
        padding: 10px !important;
    }
    .box-02 .titulo,
    .box-03 .titulo,
    .box-04 .titulo{
        font-size: 40px !important;
        margin-bottom: 20px !important
    }
    .box-04 .contato input{
        width: 100% !important
    }
}
