div:hover > .btn { display: block; opacity: 1; transition: all 1s; } .btn { text-align: center; margin: 0 auto; width: 100%; height: 40px; padding: 5px 0px; bottom: 0px; z-index: 999; cursor: pointer; opacity: 0.6; transition: all 1s; } .btn.absolute { position: absolute; } .btn > div { width: 100px; display: inline-block; } .btn .remove::before {    font-weight: 900; content: "\f05e"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .remove::after { content: ""; font-family: calibri; font-size: 14px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::before { font-weight: 900; content: "\f055"; font-family: "Font Awesome 5 Free"; font-size: 40px; color: #000; width: 100%; text-align: center; display: block; } .btn .add::after { content: "RETORNAR"; font-family: calibri; font-size: 16px; color: #000; width: 100%; text-align: center; display: block; } .btn.white *::before, .btn.white *::after { color: #fff !important; }
* {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#erro-total {
    width: 700px;
    height: 270px;
    margin: 15px 0
}

#imagem-centralizada {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

#texto-404 {
    width: 100%;
    font-family: Calibri;
    font-size: 22px;
    text-align: center
}

.conteudo p {
    color: #515890;
    font-size: 21px;
    font-family: calibri;
}

#aguarde {
    width: 100%;
    font-family: Calibri;
    font-size: 19px;
    text-align: center;
    margin: 5px 0
}

.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none
}

.esquerda,
.esquerdo,
.left,
.float-left,
.alignleft {
    float: left;
    display: table;
    margin: 0 10px 10px 0
}

.direita,
.direito,
.right,
.float-right,
.alignright {
    float: right;
    display: table;
    margin: 0 0 10px 10px
}

.meio,
.center,
.aligncenter {
    display: table;
    margin: 20px auto
}

.borda {
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 2px 0 #666
}

.global {
    margin: 0 auto
}

.conteudo-pages {
    min-height: 500px;
}

.texto-pages {
    font: 15px/25px Calibri;
    color: #000;
    text-align: justify
}

.texto-pages h1 {
    font: 25px Calibri;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.texto-pages h2 {
    font: 20px Calibri;
    padding-left: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #000
}

.contato input {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato [required="required"] {
    background: #eee url(../pw-images/required.png) center right 10px no-repeat;
    background-size: 9px
}

.contato select,
.contato option {
    width: 100%;
    padding: 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #0e67e6 inset;
    height: 50px;
}

.contato textarea {
    width: 100%;
    padding: 10px 30px 10px 20px;
    background: #eee;
    border: #ccc;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none!important;
    resize: none;
    height: 200px;
    font-size: 17px;
    box-shadow: 2px 0 0 0 #333 inset;
    position: relative
}

.contato .submit {
    cursor: pointer;
    background: #333;
    color: #fff
}

.contato .required {
    color: #d90000;
    font: 17px calibri;
    font-weight: lighter;
    margin-bottom: 10px
}

.contato .required img {
    height: 9px
}

.topo-total {
    z-index: 999;
    width: 100%;
    /* background: url(../pw-images/banners/1.jpg) no-repeat top; */
    background: #848383;
    /* height: 245px; */
}

.topo {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden
}

.logo {
    margin: 30px 0;
    padding: 0 20px
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.menu li {
    list-style-type: none;
    margin: 20px 0
}


.titulo {
    font: 30px 'lato';
    font-weight: bold;
    color: #132773;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    font-family: 'Anton', sans-serif;
}
.menu li a {
    font: 20px Lato, sans-serif;
    margin: 0 10px;
    padding: 50px 10px;
    position: relative;
    transition: .5s;
    font-weight: bold;
    color: #063396!important;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.menu li a:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 40px;
    right: 40px;
    width: 0;
    height: 0;
    border-right: 0 solid #ffb000;
    border-left: 20px solid transparent;
    border-top: 20px solid #ffbe00;
    opacity: 0;
    transition: .5s;
}

.rodape-total {
    background: #929191;
    display: flex;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    width: 1020px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.rodape .info {
    width: 420px;
}

.rodape .info .texto {
    font: 18px lato;
    /* color: #515890; */
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.rodape .info .texto:first-child {
}
.rodape .logo img {
    width: 127px;
}
.rodape .info .texto i {
    font-size: 27px;
    color: #0515b7;
    margin: 10px 20px;
}

.rodape .social {
    display: flex;
    justify-content: center
}

.rodape .social .rede {
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px
}

.rodape .social .rede i {
    font-size: 25px;
    color: #666
}

.logo-pw {
    margin: 20px auto;
    text-align: center;
    display: table;
}

.logo-pw div {
    text-align: left
}

.logo-pw div p:first-child a {
    color: #fff;
    font: 12px Helvetica;
    margin-top: -8px;
    display: block
}

.logo-pw div a span {
    color: transparent
}
.swiper-container {
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.swiper-wrapper img {
    width: 100%;
}
.slogan-total {width: 100%;display: flex;justify-content: center;align-items: center;/* height: 500px; */top: 45%;position: absolute;z-index: 99999;}
/* Index */
 .swiper-container {} .swiper-slide { display: flex; justify-content: center; } .slogan {width: 700px;cursor: default;/* position: absolute; */z-index: 999;/* top: 318px; */} .slogan .titulo {font: 27px 'Lato';font-weight: bold;color: #ececec;margin: -29px 0px;padding: 0px 10px;text-align: center;text-shadow: 2px 2px #000;font-family: 'Anton', sans-serif;letter-spacing: 3px;} .slogan .texto {margin: 20px 0px;padding: 0px 30px;text-align: center;font: 45px 'Lato';font-weight: bold;color: #fff;text-shadow: 2px 2px #000;} .slogan .botao { display: flex; } .slogan .botao a { font: 18px 'lato'; color: #fff; text-align: center; margin: 20px auto; padding: 15px 80px; border: 1px solid #fff; position: relative; z-index: 9 !important; overflow: hidden; background: none; } .slogan .botao a:after { content: ''; position: absolute; z-index: 0; top: 0; right: 0; width: 0; height: 0; border-right: 0px solid #fff; border-left: 30px solid transparent; border-top: 30px solid #fff; transition: .5s; background: none; } .swiper-pagination { position: relative !important; margin: 100px 0px 90px; } .swiper-pagination-bullet { width: 30px !important; height: 30px !important; border-radius: 0px !important; background: rgba(255, 255, 255, 0.2) !important; opacity: 1 !important; margin: 0px 20px !important; } .swiper-pagination-bullet-active { position: relative; background: none !important; } .swiper-pagination-bullet-active:after { content: ''; position: absolute; z-index: 0; top: 0; right: 0; width: 0; height: 0; border-right: 0px solid #fff; border-left: 30px solid transparent; border-top: 30px solid #fff; } .box-01-total { background: #F8F8F8; display: flex; flex-direction: column; } .box-01 { width: 800px; margin: 40px auto; text-align: center; display: flex; flex-direction: column; visibility: hidden; } .box-01 .titulo {font: 30px 'lato';font-weight: bold;color: #162e63;padding: 0px 30px;margin: 10px 0px;text-transform: uppercase;font-family: 'Anton', sans-serif;} .box-01 .texto { font: 20px 'lato'; color: #aaa; margin: 10px 0px; padding: 0px 30px; } .box-02-total { background: #fff; border-bottom: 1px solid #ddd; } .box-02 { width: 1200px; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap; } .box-02 .item {width: 24%;position: relative;overflow: hidden;margin: 40px 0px;visibility: hidden;height: 246px;} .box-02 .item:after {content: '';position: absolute;z-index: 0;top: 0;right: 0;width: 0;height: 0;border-right: 0px solid #fff;border-left: 70px solid transparent;/* border-top: 70px solid #fff; */transition: .5s;} .box-02 .img {text-align: center;position: relative;overflow: hidden;} .box-02 .img i { font-size: 70px; color: #ddd; transition: .5s; } .box-02 .titulo {font: 30px 'lato';font-weight: bold;color: #fff;text-align: center;margin: 20px 0px;padding: 0px 10px;position: absolute;z-index: 999;transition: .5s;top: 36px;display: flex;justify-content: center;width: 100%;text-shadow: 0px 0px 3px #000;} .box-02 .texto {font: 20px 'lato';font-weight: bold;color: #fff;text-align: center;margin: 20px 0px;padding: 0px 10px;position: absolute;z-index: 999;transition: .5s;top: 135px;left: 10px;right: 10px;} .box-03-total { background: #fff; display: flex; flex-direction: column; } .box-03 { width: 1200px; margin: 0 auto; perspective: 1000px; } .box-03 .titulo {font: 30px 'lato';font-weight: bold;color: #132773;text-align: center;margin: 20px 0px;padding: 0px 20px;visibility: hidden;font-family: 'Anton', sans-serif;} .box-03 .descricao { font: 20px 'lato'; color: #aaa; width: 740px; margin: 20px auto; text-align: center; padding: 0px 20px; visibility: hidden; } .box-03 .conteudo { display: flex; justify-content: space-around; flex-wrap: wrap; visibility: hidden; } .box-03 .conteudo .item {width: 33.333333%;display: block;align-items: center;background: #ccc;margin: 20px 0px 40px;} .box-03 .conteudo .item:first-child {background: #515890;} .box-03 .conteudo .item:last-child {background: #515890;} .box-03 .conteudo .item .numero {font: 30px 'lato';color: rgb(19 25 78);text-align: center;font-family: calibri;text-transform: uppercase;font-family: 'Anton', sans-serif;} .box-03 .conteudo .item .texto ul li {font: 20px 'lato';color: #fff;padding: 5px 10px;list-style: none;} .box-04-total { background: #f8f8f8; display: flex; flex-direction: column; position: relative; z-index: 1; } .box-04 { width: 1000px; margin: 0 auto; visibility: hidden; } .box-04 .titulo {font: 30px 'lato';font-weight: bold;text-align: center;color: #132773;margin: 20px 0px;font-family: 'Anton', sans-serif;} .box-04 form { display: flex; flex-direction: column; } .box-04 form .cima { display: flex; justify-content: space-between; flex-wrap: wrap; } .box-04 input { font: 20px 'lato'; color: #aaa; padding: 10px; border: 1px solid #ddd; margin: 10px 0px; width: 30%; } .box-04 textarea { font: 20px 'lato'; color: #aaa; padding: 10px; border: 1px solid #ddd; height: 100px; margin: 10px 0px; resize: none; box-sizing: border-box; } .box-04 span {margin: 20px auto;border: 1px solid #162961;position: relative;z-index: 9 !important;overflow: hidden;} .box-04 span:after {content: '';position: absolute;z-index: 0;top: 0;right: 0;width: 0;height: 0;border-right: 0px solid #ffb000;border-left: 30px solid transparent;border-top: 30px solid #ffb000;transition: .5s;background: none;} .box-04 .submit { background: none; border: none; color: #666; padding: 15px 80px; margin: 0px; position: relative; z-index: 999; transition: .5s; cursor: pointer; } .mapa { visibility: hidden; position: relative; z-index: 0; } .mapa iframe { display: flex; }
.slogan .texto b {
    font: 31px 'Lato';
    font-weight: bold;
    color: #ff9a00;
    text-shadow: 2px 2px #000;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.box-02 .texto a {
    background: #132773;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: 'Lato';
    border-radius: 8px;
}

.box-02 .texto a:hover {
    background: #3c53ae;
}

.box-03 .conteudo .item .texto ul li i {
    color: #fff;
    font-size: 18px;
}
.whatsapp-topo p {
    font: 16px Lato, sans-serif;
    color: #030fb8;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.whatsapp-topo a {
    font: 16px Lato, sans-serif;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    background: #ec9f10;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-topo a i {
    color: #fff;
    font-size: 19px;
    margin-right: 5px;
}
.box-02 .img img {transition: 0.5s;}
.text {
    width: 100%;
    height: 100%;
    background: rgb(255 193 7 / 66%);
    top: 0;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.box-02 .item:hover img {
    /* transform: rotate(5deg); */
    /* transition: 0.5s; */
}

.box-02 .item:hover .text {
    background: #e0961d73;
    transition: 0.5s;
}

.box-02 .item:hover {
    overflow: initial;
}

.box-02 .item:hover .text {
    /* opacity: 0; */
    transition: 0.5s;
}


.mapa-img{
    display: none;

}


@keyframes whatsapp {
  30% {
    box-shadow: 0 0 0 5px rgba(37, 211, 102, 0.3);
  }

  45% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.3);
  }

  60% {
    box-shadow: 0 0 0 5px rgba(37, 211, 102, 0.3);
  }
}

.whatsapp-topo {
  bottom: 30px;
  right: 30px;
  animation: atencao 10s 10s infinite;
}


.whatsapp-topo a:hover {
  animation: whatsapp 1.5s
}

/* Paginas Internas */

.conteudo-pages .titulo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background: url(../pw-images/fundos/titulo.jpg) center no-repeat fixed;
    background-position: bottom;
    background-attachment: scroll;
    background-size: 100%;
}

.box-conteudo {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.titulo h1 {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #000;
    font-family: 'Anton';
    letter-spacing: 1.5px;
}

.titulo h1 i {
    font-size: 40px;
    color: #fff;
}

.box-conteudo p {
    font-size: 21px;
    font-family: 'Lato';
    padding: 5px 0;
    text-align: justify;
}

.box-conteudo p span {
    font-size: 30px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
}

.box-conteudo p:last-child {
    padding-top: 25px;
}

.box-conteudo.dup {
    display: flex;
    justify-content: space-around;
}

.box-conteudo.dup img {
    width: 400px;
    height: auto;
}

.box-conteudo.dup .box-txt {
    width: 700px;
}

.box-txt ul li {
    list-style: none;
    font-size: 21px;
    font-family: 'Lato';
    padding: 7px 0px;
}

.box-txt ul li i {
    font-size: 22px;
    color: green;
}
.form.contato {
    width: 550px;
}

.box-conteudo.dup.cont .mapa {
    width: 500px;
}

input[type="submit"] {}

.form.contato input[type="submit"] {
    height: 55px;
    background: #0e67e6;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
}

.form.contato input {
    height: 50px;
    box-shadow: 2px 0 0 0 #0e67e6 inset !important;
}

.form.contato textarea {
    box-shadow: 2px 0 0 0 #0e67e6 inset !important;
}

.form.contato input[type="submit"]:hover {
    background: #084091;
}

.form.contato.orc {
    width: 800px;
    margin: 0 auto;
    background: #e3e3e3;
    padding: 40px;
    border-radius: 10px;
}

.form.contato.orc input, .form.contato.orc textarea, .form.contato.orc select {
    background: #fff;
    box-shadow: none !important;
}

.form.contato.orc input[type="submit"] {
    background: #162a61;
    box-shadow: none !important;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria .itemGaleria {
    width: 300px;
}

.galeria .itemGaleria img {
    width: 100%;
}

.infoContato {
    width: 400px;
    margin: 40px auto;
    background: #929191;
    padding: 40px;
}

.infoContato p {
    color: #fff;
    font-size: 19px;
    font-family: 'Lato';
    padding: 5px 0;
}

.infoContato p strong {
    font-size: 19px;
    color: #fff;
    font-family: 'Lato';
}

.mapa iframe {
    width:100%;
}


.swiper-button-next.swiper-button-white {
    z-index: 9999999;
}

.swiper-button-prev.swiper-button-white {
    z-index: 999999;
}

/* Fim */


@media only screen and (min-width:998px) {
    .menu li a:hover {
        color: #ffaf00;
    }
    .menu li a:hover:after {
        top: 0;
        right: 0;
        opacity: 1;
    }
    .slogan .botao a:hover:after {
        border-left: 400px solid transparent;
        border-top: 130px solid #fff;
        opacity: .1
    }
    .box-02 .item:hover:after {
        border-top: 260px solid #ffffff14;
        border-left: 290px solid #ffffff00;
    }
    .box-02 .item:hover .img i {
        color: #fff
    }
    .box-02 .item:hover .titulo {
        color: #fff
    }
    .box-02 .item:hover .texto {
        color: #fff
    }
    .box-04 span:hover .submit {
        color: #fff
    }
    .box-04 span:hover:after {
        border-left: 410px solid transparent;
        border-top: 200px solid #162761;
    }


}

@media only screen and (max-width:1200px) {
    * {
        max-width: 100%;
        box-sizing: border-box;
        
    }

    .box-conteudo.dup{
        flex-wrap: wrap;
    }

    .box-conteudo.dup .box-txt{
        margin-top: 30px;
    }

    .box-conteudo{
        text-align: center;
    }
}

@media only screen and (max-width:1100px) {
    .slogan {
        top: 345px;
    }
    
}


@media only screen and (max-width:1100px) {
    .whatsapp-topo{
        display: none;
    }

    .whatsapp-topo.fim {
        display: block;
    }

    .swiper-container{
        display: none;
    }

}





@media only screen and (max-width:850px) {

    .box-03 .conteudo .item {
        flex-direction: column;
        text-align: center
    }

    .rodape{
        padding: 10px;
        text-align: center;
    }
    

    .rodape .info{
        width: auto;
    }

    .box-03 .conteudo .item{
        width:100%;
    }


    .mapa iframe{
        display: none;
    }

    .mapa-img{
        display: block;
    }

    .mapa-img {
        width: 100%;
        text-align: center;
    }

    





}

@media only screen and (max-width:740px) {
    .menu li a {
        font: 15px lato;
        padding: 0 10px;
    }
    .slogan .titulo {
        font: 34px Lato
    }
    .slogan .texto {
        font: 15px lato
    }
    .slogan .botao a {
        font: 15px lato
    }
    .box-01 .titulo {
        font: 25px lato
    }
    .box-01 .texto {
        font: 15px lato
    }
    .box-02 .item {
        width: 48%;
        margin: 10px 0
    }
    .box-03 .titulo {
        font: 25px lato
    }
    .box-03 .texto {
        font: 15px lato
    }
    .rodape .info {
        flex-direction: column
    }
    .rodape .info .texto {
        display: flex;
        justify-content: center
    }
    .rodape .info .texto:first-child {
        border: none
    }

    .slogan .titulo {
        font-size: 16px;
    }
    
    .slogan .texto b {
        font-size: 19px;
    }
    
    .slogan .texto {
        margin-top: 36px;
    }

    .rodape .logo{
        width:100%;
        margin: 0 auto;
    }

    .rodape .info{
        width:100%;
    }

    .rodape .whatsapp-topo.fim{
        /* width:100%; */
        margin: 0 auto;
    }

    .menu ul li {
        background-color: aliceblue;
        margin: 5px !important;
        padding: 10px;
        width: 45%;
        text-align: center;
    }

    .menu ul li a{
        font-size:18px;
        font-family: Lato sans-serif;
        color: #030fb8;
        font-weight: bold;
        margin: 0;
    }


    .swiper-button-next.swiper-button-white {
        z-index: 9999999;
    }
    
    .swiper-button-prev.swiper-button-white {
        z-index: 999999;
    }


}

@media only screen and (max-width:660px) {
    .menu li {
        width: 30%;
        text-align: center
    }
}

@media only screen and (max-width:500px) {
    .box-03 .conteudo .item {
        width: 100%;
        margin: 0
    }
    .box-04 input {
        width: 90%;
        margin: 10px auto
    }
    .box-04 textarea {
        width: 90%;
        margin: 10px auto
    }
    .slogan .titulo{
        font-size: 30px
    }
    .slogan .texto{
        font-size: 18px;
    }
    .slogan .botao a{
        padding: 10px 40px;
    }
    .box-02 .item{
        width: 90%;
    }

    .slogan .titulo {
        font-size: 16px;
    }
    
    .slogan .texto b {
        font-size: 19px;
    }
    
    .slogan .texto {
        margin-top: 36px;
    }
}

@media only screen and (max-width:350px) {
    .rodape .info .texto {
        font: 15px lato
    }
}
